<form method="POST" action="/issues">
  
 <label for="description">Description:</label>
  <input
     type="text"  
     placeholder="description" 
     name="description" 
     id="description"
     
  />

  <label for="createdAt">Created</label>
  <input
     type="date"  
     placeholder="createdAt" 
     name="createdAt" 
     id="createdAt"
     
  />

  <label for="status">Status</label>
  <input
     type="text"  
     placeholder="status" 
     name="status" 
     id="status"
    
  />

  <label for="priority">Priority</label>
  <input
     type="text"  
     placeholder="priority" 
     name="priority" 
     id="priority"
     
  />


  <input type="submit" value="Create Issue" />
</form>